<mat-card class="example-card">
    <mat-card-content>
        <mat-card-title>Login</mat-card-title>
        <mat-form-field appearance="fill">
            <input type="email" placeholder="E-mail" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input type="password" placeholder="Senha" matInput>
        </mat-form-field>
        <button mat-button color="accent" type="submit">Entrar</button>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">
        </button>
        <span>Ainda não é inscrito? <a routerLink="/inscrever-se">Inscreva-se</a></span>
    </mat-card-actions>
</mat-card>